<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.calyxos.bubbles"
    android:versionCode="30000001"
    android:versionName="11-1.0">
    <!--
    The version code is the targeted SDK_VERSION plus 6 digits for our own version code.
    The version name is the targeted Android version followed by - and our own version name.
    -->

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="org.calyxos.bubbles.permission.FINISH_SETUP" />

    <permission
        android:name="org.calyxos.bubbles.permission.FINISH_SETUP"
        android:protectionLevel="signatureOrSystem" />

    <protected-broadcast android:name="org.calyxos.bubbles.CALYX_APPS_INSTALLED"
                         android:permission="org.calyxos.bubbles.permission.FINISH_SETUP"
        tools:ignore="InvalidPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bubbles">

        <activity android:name=".apps.MicroGActivity"
                  android:exported="false" />

        <activity android:name=".apps.InstallAppsActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".apps.WaitInstallAppsActivity"
                  android:exported="false" />

        <service android:name=".apps.AppInstallerService"
                 android:exported="false"/>

    </application>

</manifest>
